.list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #0087ff52;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  h1 {
    color: rgb(55, 53, 53);
  }
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(55, 53, 53);
  background: #34dcb5;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
