.list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 520px;
  width: 100%;
  min-height: 600px;
  background: #0087ff52;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  h1 {
    color: rgb(55, 53, 53);
  }
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(55, 53, 53);
  border: 2px solid #d072d0;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  background: rgb(198, 198, 198);
}
.highlight {
  background: #34dcb5;
  border: none;
}
