@import "../../styles/variables";

.description-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid rgba(116, 116, 116, 0.708);
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .description-line {
    overflow-x: scroll;
  }
}
