@import "../../styles/variables";

.heading {
  padding: 2rem;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color: rgb(45, 43, 43);
}

.light {
  font-weight: 100;
}

.weather-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid $brand-primary;
  -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  background-color: #43bbfcae;
  width: 100%;
  max-width: 675px;
  min-height: 300px;
  padding: 15px 0;
}
